block header
  header.header
    .container.header--container
      a(href="javascript:void(0)").header--logo
        img(src="dist/img/logo.png", alt="CSSSR").header--img
      img(src="dist/img/stamp.png", alt="Секретно").stamp
      h1.header--heading
        img(src="dist/img/heading.png", alt="ДЕЛО")