extends ../base/layout

block header
  include ../base/header
block main
  .page.page--index
    .container
      include ../blocks/input__text
      include ../blocks/input__checkbox
      include ../blocks/input__range
      include ../blocks/input__textarea
      include ../blocks/input__radio
      include ../blocks/date
block scripts
  include ../base/scripts