// Core
@import "../../node_modules/normalize.css/normalize.css";
@import "core/variables.styl";
@import "core/mixins.styl";
@import "core/fonts.styl";

// Globals
@import "common/global.styl";
@import "common/atom.styl";
    
// Commons modules
@import "common/base.styl";
@import "common/common.styl";

// Modules
@import "blocks/header.styl";
@import "blocks/footer.styl";
@import "blocks/input.styl";