.input__radio--wrapper
  h2 Какие у вас планы на будущее?
  p Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
  .input__radio--container
    label.input__radio--label
      input(type="radio" name="future" value="markup").input__radio
      p.input__radio--heading Верстать
    label.input__radio--label
      input(type="radio" name="future" value="js").input__radio
      p.input__radio--heading Прокачиваться в JS
    label.input__radio--label
      input(type="radio" name="future" value="manage" checked).input__radio
      p.input__radio--heading Менеджерство
    label.input__radio--label
      input(type="radio" name="future" value="other").input__radio
      p.input__radio--heading Другое