.multiinput--wrapper
  h2 Расскажите о себе словами
  p.multiinput--description Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.

  label.multiinput--container
    input.multiinput(type='text' value="Front-end разработчик. Живу и работаю в")
    input.multiinput(type='text' value="Белорецке, но рассматриваю варианты")
    input.multiinput(type='text' value="с релокацией.")
    input.multiinput(type='text' value="Занимаюсь как статичной версткой, так и")
    input.multiinput(type='text' value="созданием сайтов под ключ.")
    input.multiinput(type='text' value="Есть опыт работы с CMS 1C-Битрикс,")
    input.multiinput(type='text' value="Люблю создавать красивые и удобные")
    input.multiinput(type='text' value="интерфейсы. Нравится решать")
    input.multiinput(type='text' value="нетривиальные задачи.")
    input.multiinput(type='text' value="В короткие сроки могу разобраться с ")
    input.multiinput(type='text' value="задачами, опыта решения которых раньше не")
    input.multiinput(type='text' value="имел.")
    input.multiinput(type='text' value="Постоянно слежу за новыми плюшками,")
    input.multiinput(type='text' value="которые появляются в как в сфере фронтенд")
    input.multiinput(type='text' value="разработки, так и вообще в вебе.")
  .inputHidden