// Paths
$pathToImg = "../img/"
$pathToDevImg = "../../src/img/"
$pathToFonts = "../../src/fonts/"

// Fonts
$reserveFonts = sans-serif;
$fontPrimary = 'PT Sans', $reserveFonts;

// Sizes
$widthContent = 100rem;
$heightHeader = 27.1rem;
$heightFooter = 0rem;

// Colors
$bg = #797979
$heading = #2f1b15
$text = #231f20
$grey = #3d3d3d

// Animation
$fast = .25s ease-in-out opacity